.sign-up{
    display: flex;
    flex-direction: column;
    border: 2px;
    width: 400px;
    margin: 0px auto;

}
.sign-up h1{
    text-align: center;
}

.sign-up form {
    display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
}
