.show-spots {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px auto;
    margin-top: 30px;
    position: relative;
}

.spot-card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(149, 149, 149);
    border-radius: 10px;
}

.spot-card {
    width: 23%;
    height: fit-content;
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}

.preview-image{
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px black solid;
}


.location-rating {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
