.spot-detail {
    max-width: 900px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
h1 ,h2 {
    font-weight: 400;
}

.image-container {
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: space-between;

}

#detail-img0{
    width: 49%;
    border: 2px black solid;
}

.sub-images {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.sub-images > * {
    width: 49%;
    height: 49%;
    border: 2px black solid;
}
.host-description {
    width: 60%;
}
.host-description > h2{
    margin-bottom: 5px;
}

.description{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.price-review{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.price-rating{
    border: 3px solid black;
    border-radius: 8px;
    width: 40%;
    padding: 18px;
}
.reserve-price {
    font-size: 20px;
    display: inline;
}
.reserve-stats > * {
    font-size: 14px;

}
.reserve-stats  {
    font-size: 14px;
    align-self: flex-end;
}
.reserve-btn{
    padding: 9px;
    display: block;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(50, 50, 50);
    background-color: var(--color-red);
    color: white;
    text-align: center;
}
.reserve-btn:hover{
    cursor: pointer;
}

.reviews {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.review-date{
    color: var(--color-light-gray);
}

.review-stats {
    font-size: 20px;
    margin-top: 20px;
}
.fa-circle{
    position: relative;
    top: -4px;
}
.each-review{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.stars > * {

    font-size: 20px;
}
.stars{
    margin-top: 20px;
    align-self: flex-start;
}
