.create-spot{
    width: 35%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}
textarea, input{
    border: 3px solid black;
    border-radius: 3px;
    background-color: rgb(224, 246, 253);
    padding: 5px;
}

.city-state{
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}
#create-spot-comma{
    position: relative;
    top: 26px;
    width: fit-content;
}

#city{
    width: 240px;
}
#state {
    width: 100%;
}
#city-create{
    width: 10%;
    align-self: flex-end;
}
.bottom-border{
    border-bottom: 2px solid black;
    padding-bottom: 15px;

}
.create-spot-btn{
    margin: 0px auto;
}

.create-spot p {
    color: black;
}
span{
    color: red;
    font-size: 14px;
}

.update-images{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.image-placeholder{
    width: 33%;
}

.update-single-image{
    width: 100%;
}

.create-price {
    display: flex;
    align-items: center;
}
.create-price > * {
    height: 100%;
    width: 100%;
}
.create-price > p {
    width: 20px;
    font-size: 20px;
}
