/* TODO Add site wide styles */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #999999;
    --color-light-gray: #CCCCCC;
    --color-red: #FF5A5F;
    --color-dark-red: #c02429;
    --color-teal: #00525E;
    --color-light-teal: #E8F0FE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Montserrat', sans-serif;}
#logo-text {
    color: var(--color-red);
}

.log-in .sign-up, p{
    color: red;
    font-size: 14px;
}
