.sign-up{
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    width: 400px;


}
.sign-up h1{
    text-align: center;
}

.sign-up form {
    display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
}
