.hidden {
    display: none;
}

.logo-png-text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-png-text  > span{
    font-size: 22px;
}
.logo-png-text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo {
    width: 50px;
}
.header-ul * {
    text-decoration: none;
    list-style: none;
    width: 100%;
}
#logo-text{
    width: fit-content;
}
#create-spot-li{
    width: 300px;
}
.header-ul {
    border-bottom: 2px lightgray solid ;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
#profile-li{
    width: fit-content;
}
#profile-btn{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
#profile-btn > *{
    font-size: 26px;
}

#profile-btn:hover{
    cursor: pointer;
}

.profile-dropdown{
    position: absolute;
    background-color: var(--color-red);
    border-radius: 4px;
    top: 80px;
    right: 20px;
    width: fit-content;
    min-width: 200px;
    padding: 5px;
    z-index: 100;
}
.profile-dropdown > *{
    color: white;
}
.profile-dropdown > li {
    margin: 0px auto;
}
.profile-dropdown:last-child {
    padding: 15px;
}
.profile-dropdown > *:hover{
    cursor: pointer;
    /* background-color: var(--color-dark-red); */
}
.spot-card {
    position: relative;
    display: inline-block;
}
.sign-up-item{
    font-weight: 600;
}
.logout-btn{
    position: relative;
        width: fit-content;
        height: fit-content;
        border-radius: 25px;
        background-color: #ccc;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        top: 7px;
}



.manage-spot-btn {
width: 100%;
text-align: center;
}
.manage-user {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
